// Mixins
borderRadius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
  
mainDivStyle()
  height 100%
  margin 0.313em
  background #f8f8f8
  borderRadius(5px)
  border 5px solid #f8f8f8
  -moz-box-shadow 0 4px 2px #dddddd
  -webkit-box-shadow 0 4px 2px #dddddd
  box-shadow 0 4px 2px #dddddd
  padding 0.8em

mainContainer()
  max-width 64.000em
  min-height 9.375em
  margin auto
  padding 0 0.313em
  position relative
  
btnDefaults()
  borderRadius(5px)
  padding 10px
  text-align center
  color #ffffff !important
  
reflection()
  -webkit-box-reflect below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(white))

//*********************************************************
// HTML Element Styles
//*********************************************************
body
  margin 0
  padding 0
  font-family default-font, Helvetica, Verdana, Arial, sans-serif
  background #eeeeee
  overflow -moz-scrollbars-vertical !important
  overflow-x scroll !important
  
img
  display block
  margin 5px 0px
  -webkit-border-radius 5px  
  border-radius 5px
  
a
  margin-left 5px
  color #000
  &:visited
    color #666
  &:hover
    color #fff
    background-color #000
  text-decoration none

//*********************************************************
// Div Styles
//*********************************************************
#header-main-container
  mainContainer()
  min-height 0
  padding-bottom 0.313em

#header
  mainDivStyle()
  -webkit-border-top-right-radius 0px
  -webkit-border-top-left-radius 0px
  margin 0em 0.313em 0.313em 0.313em
  padding 0em 0.8em 0.8em 0.8em

#footer
  @include mainDivStyle;
  margin-top 16px
  min-height 20px

#mainContent
  padding 2px 0px
  
.overflowHidden
  overflow hidden

.clear
  clear both

.note
  mainDivStyle()
  width 45.5%
  padding 10px
  margin 10px 5px
  height 390px
  display none

#footer 
  mainDivStyle()
  margin-top 16px
  min-height 20px

.float_left
  float left
  
.float_right
  float right
  
.links
  margin 50px auto
  text-align center
  
.promo-image
  height 200px
  margin 20px auto
  reflection()
  
.shadow
  -moz-box-shadow 0px 1px 3px #dddddd
  -webkit-box-shadow 0px 1px 3px #dddddd
  box-shadow 0px 1px 3px #dddddd
  
.greenBtn
  btnDefaults()
  background #67C478
  display block
  margin-top 2px

//*********************************************************
// Text Styles
//*********************************************************
@font-face
  font-family default-font
  src url('fonts/HelveticaNeueThin.ttf')
  
@font-face
  font-family fancy-font
  src url('fonts/angelina.TTF')

h1
  color #282828
  font-family default-font, Helvetica, Verdana, Arial, sans-serif
  font-size 6em
  margin 5px auto -12px auto
  text-shadow 0px 1px 0px #FFF

h2
  color #282828
  text-align center
  font-family default-font, Helvetica, Verdana, Arial, sans-serif
  font-size 3em
  margin 5px auto -12px auto
  text-shadow 0px 1px 0px #FFF
  
.fancy
  color #999999
  font-family fancy-font, Helvetica, Verdana, Arial, sans-serif
  font-size 2em
  font-weight normal
  text-shadow 0.04em 0.04em 0 #FFF
  
underline
  text-decoration underline
  
blue
  color #449
red
  color #99221f
pink
  color #a93961
green
  color #3e9944
purple
  color #7644a7 